[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/testing-lib"]
	path = lib/testing-lib
	url = https://github.com/kei-finance/testing-lib
[submodule "lib/referral-contracts"]
	path = lib/referral-contracts
	url = https://github.com/kei-finance/referral-contracts
